---
CompileFlags:
  Add: [-D_CLANGD=1]
Diagnostics:
  MissingIncludes: Strict
  UnusedIncludes: Strict
  ClangTidy:
    Add: misc-include-cleaner
    FastCheckFilter: Loose
  Includes:
    IgnoreHeader: 
      - 'Eigen/src/(Core|Geometry|SVD)/.*'
